.Navbar{
    width: 1024px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    background: linear-gradient(90deg, #021316, #3b3b3b);
}
.Navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
   margin-top: 15px;
}
.img{
    border-radius: 50px;
}
.NavbarLight{
    width: 1024px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    background: linear-gradient(90deg, #ccd1d1, #f0eeee);
}
.NavbarLight a{
    color: black;
    text-decoration: none;
    font-size: 20px;
   margin-top: 15px;
}