.Navbar{
    height: 60px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(180deg,#2b2b38,#2f2f3b);
}
.Navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
   margin-top: 15px;
}
.img{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.NavbarLight{
    height: 60px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(180deg, #e4e2e2,  #ffffff);
}
.NavbarLight a{
    color: black;
    text-decoration: none;
    font-size: 20px;
   margin-top: 15px;
}
@media ( max-width: 1024px) {
  .Navbar {
     width: 100%;
  }
}
@media ( max-width: 1024px) {
  .NavbarLight {
     width: 100%;
  }
}
body.light{
  background-color: white;
  color: black;
}
body.light a{
  color: black;
}
body.dark{
  background-color: #2b2b38;
  color: white;

}
body.dark a{
  color:white  ;
}
.about{
  width: 1024px;
  height: 100px;
  margin-left: 400px;
}
.about h1{
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
