.form1{
    margin-top: 150px;
    margin-left: 650px;
    width: 1024px;
}
.form1 input{
    font-size: 20px;
    width: 600px;
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#submit{
    border-bottom: none;
    font-size: 20px;
     width: 600px;
     height: 50px;
     background-color: rgb(74, 74, 253);
     color: white;
}
#submit:hover{
    background-color: blue;
     box-shadow: 0 15px 15px rgba(0,0,0,0.25);
}


