.form1{
    margin-top: 150px;
    margin-left: 650px;
    width: 1024px;
}
                                                          
body.dark input{
    font-size: 20px;
    width: 600px;
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:  #2b2b38;
    border-bottom: white 1px solid;
}
body.dark input::placeholder{
    color: white;
}
body.dark input{
    color: white;
}
body.light input{
    font-size: 20px;
    width: 600px;
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#submit{
    border-bottom: none;
    font-size: 20px;
     width: 600px;
     height: 50px;
     background-color: rgb(94, 94, 255);
     color: white;
}
#submit:hover{
    background-color: blue;
     box-shadow: 0 15px 15px rgba(0,0,0,0.25);
}

