.form2{
    margin-top: 150px;
    margin-left: 650px;
    width: 1024px;
}
.form2 input{
    margin-top: 20;
    font-size: 20px;
    width: 600px;
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#submit{
    border-bottom: none;
    font-size: 20px;
     width: 600px;
     height: 50px;
     background-color: rgb(76, 76, 247);
     color: white;
}